<html>
<body>
<h1>Envio de Email pelo site</h1>
<table>
   <tr>
      <td><b>Nome:</b></td>
      <td><%= @name %></td>
   </tr>
   <tr>
      <td><b>Remetente:</b></td>
      <td><%= @email %></td>
   </tr>
   <tr>
      <td><b>Assunto:</b></td>
      <td><%= @subject %></td>
   </tr>
   <tr>
      <td><b>Mensagem:</b></td>
      <td><%= @message %></td>
   </tr>
</table>
</body>
</html>