<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= image_path 'promo2.jpg' %>);">
<div class="bradcumbContent">
    <h2>Contato</h2>
</div>
</section>

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100-0">
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-3">
                <div class="contact-content mb-100">
                    <!-- Title -->
                    <div class="contact-title mb-50">
                        <h5>Informações de Contato</h5>
                    </div>

                    <!-- Single Contact Info -->
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="icon mr-30">
                            <span class="icon-placeholder"></span>
                        </div>
                        <p>Av. Manoel Carneiro de Menezes, 2571, Nova Friburgo - RJ</p>
                    </div>

                    <!-- Single Contact Info -->
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="icon mr-30">
                            <span class="icon-smartphone"></span>
                        </div>
                        <p>+55 (22) 99949-6753</p>
                    </div>

                    <!-- Single Contact Info -->
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="icon mr-30">
                            <span class="icon-mail"></span>
                        </div>
                        <p>forceps.metal@gmail.com.br</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-9">
                <!-- ##### Google Maps ##### -->
                <div class="map-area mb-100">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3690.8270033883236!2d-42.516115050067604!3d-22.322381485240015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x978a3503cd8967%3A0x7ab29db978d47b63!2sMAMUTE%20RECORDS!5e0!3m2!1sen!2sbr!4v1592753668026!5m2!1sen!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->