<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a href="index.html" class="nav-brand">
                        <%= image_tag "logo.png" %>
                    </a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><%= link_to "Home", root_path %></li>
                                <li><%= link_to "Biografia", biography_index_path %></li>
                                <li><%= link_to "Eventos", events_index_path %></li>
                                <li><a href="https://www.rock2you.com.br/extremesoundrecords/produto/cd-forceps-mastering-extinction?fbclid=IwAR3hQDU4gthHe03uOvRCyKjav-77j0fod-Y3hLzGmaTtb5k-4j5V8NJfY04" target="_blank">Loja</a></li>
                                <li><a href="contact.html">Contato</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>